body {
	margin: 0;
	padding: 50px;
	font-family: Arial, sans-serif;
}

header {
	color: #000000;
    font-size: 36px;
    line-height: 40px;
    text-align: start;
    letter-spacing: normal;
}

p{
    padding-right: 300px;
    font-family:"Roboto, sans-serif";
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    letter-spacing: normal;
    margin-bottom: 20px;
}
h1{
    margin-right: 450px;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

section.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	grid-gap: 20px;
}

section.grid-container .grid-item img {
	max-width: 100%;
	height: auto;
	max-width: 160px;
    border-radius: 5px;
}
